* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;


}

body {

    background: rgb(14, 14, 112);
    color: white;
    overflow: hidden;
    overflow-y:scroll;


}